@media (max-width:100px) {
  a.navbar-brand.navbar-link {
    font-size: 30px;
    font-family: tekton pro;
  }
}

button.btn.btn-default.navbar-btn {
  margin-left: 150px;
  width: 100px;
}

.navbar navbar-default{
    margin-left: 500px;

}
#aa{
  margin-top: 35px;
}
.form input[type="text"]{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #D2B48C;
}
.form input[type="file"]{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #D2B48C;
}
.form input[type="password"]{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #D2B48C;
}
.form input[type="submit"]{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  background-color: #8B4513;
  color: #fff;
  padding: 10px;
}
.register{
  font-family: sans-serif;
  font-size: 17px;
}
#carousel-1 {
  width: 100%;
  /* position: absolute;
  margin-left: 220px; */
}
.navbar navbar-default{
  background-color: #A29786;
}
.card{
  border: 0px solid #D2B48C;
}
.form input[type="number"]{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #D2B48C;
}
.form input[type="email"]{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #D2B48C;
}
}
